<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VK-oauth2</title>

  <!-- CSS -->
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>

<body>
  <div class="wrapper">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>
